body {
	background-color: #123456;
	color: white;
}
header {
	text-align: center;
}

.liners {
	font-size: 20px;
}

.members {
	padding-left: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

ul {
	font-style: italic;
	color: gray;
}

blockquote {
	padding-top: 20px;
	padding-bottom: 20px;
}

blockquote::before {
	content: "“";
}

blockquote::after {
  content: "”";
}

nav li {
border: 1px solid white;
display: inline;
}
